<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\home\Python310\python.exe|D:\home\site\wwwroot\startup.sh"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="MainRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="startup.sh/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
